:root {
  --clr-primary-200: hsl(225, 100%, 94%);
  --clr-primary-400: hsl(245, 75%, 52%);

  --clr-neutral-100: hsl(225, 100%, 98%);
  --clr-neutral-400: hsl(224, 23%, 55%);
  --clr-neutral-900: hsl(223, 47%, 23%);

  font-family: "Outfit", sans-serif;

  font-family: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body p {
  font-size: 16px;
  color: var(--clr-neutral-400);
  margin: 0 2em 0 2em;
}

h3,
h5 {
  color: var(--clr-neutral-900);
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
}

body {
  margin-top: 8em;
  background-color: var(--clr-neutral-400);
}

.card {
  display: grid;
  background-color: var(--clr-neutral-100);
  border-radius: 0.75rem;
  text-align: center;
  height: 32rem;
}

.annual-plan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.annual-plan a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary-400);
  margin-left: 1em;
}

.plan-value {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-left: 1em;
}

.plan-value h5 {
  margin: 0;
}

.plan-value p {
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom a {
  margin-top: 1em;
  margin: 1em 0 1em 0;
  text-decoration: none;
  color: var(--clr-neutral-400);
}

.payment-btn {
  background-color: var(--clr-primary-400);
  border: none;
  border-radius: 0.75em;
  height: 3em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2em 1.5em 0 1.5em;
}

@media (min-width: 375px) {
  .card {
    margin: auto;
    max-width: 22rem;
    height: 32rem;
  }
}

@media (max-width: 375px) {
  body {
    margin: 4em 1.5em 0 1.5em;
    margin-top: 4em;
  }
}
